[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
flake8 = "*"
black = "*"
isort = "*"
pdbpp = "*"

[packages]
django = "<2.3,>=2.2.4"
djangorestframework = "*"
psycopg2 = "*"
django-extensions = "*"
ijson = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
